<div class="row etrow2 et_mobile_how">
    <!-- Icon Boxes -->
      <section class="section-wrap icon-boxes" id="services">
        <div class="container">
          <p class="et_para_title">참여방법</p>
          <br>
          <p class="et_para_sub">이렇게 응모하시면 됩니다!</p>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_1step.svg', :class => "et_howto_images"%>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_1step_c.svg' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_2step.svg', :class => "et_howto_images"%>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_2step_c.svg' %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step.svg', :class => "et_howto_images" %>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step_c_1.svg' %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-md-offset-5 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step_c_2.svg' %>
            </div>
            </div>

            
        </div>


          <div class="row">

              <div class="col-xs-12 col-md-6">
              <h2 class="et_howto_1">1 SNS를 통한 참여
                  
                 </h2></div>
                 <div class="col-xs-12 col-md-6">
                  <p class="et_howto_1">
                 <i class="social_facebook et_sns_icons"></i>
                
                  <i class="social_twitter et_sns_icons"></i>
                
                
                  <i class="social_instagram et_sns_icons"></i>
                </p>
                </div>
              </div>
              <div class="row">
              
            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_film"></i>
                </a>
                <p class="et_para_comment">1 영상찍기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_upload"></i>
                </a>
                <p class="et_para_comment">2 영상 올리기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>   
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_tag"></i>
                </a>
                <p class="et_para_comment">3 태그달기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            
          </div> <!-- end row -->
          <br><br><br><br>
          <div class="row">

              <div class="col-xs-12 col-md-6">
              <h2 class="et_howto_1">2 Youtube를 통한 참여
                  
                 </h2></div>
                 <div class="col-xs-12 col-md-6">
                  <p class="et_howto_1">
                 <i class="social_youtube et_sns_icons"></i>
                
                </p>
                </div>
              </div>
              <div class="row">
                  

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_film"></i>
                </a>
                <p class="et_para_comment">1 영상찍기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_upload"></i>
                </a>
                <p class="et_para_comment">2 영상 올리기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>   
              </div>            
            </div> <!-- end service item -->

            <div class="col-md-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
              <div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
                <a href="#">
                  <i class="hi-icon icon_tag"></i>
                </a>
                <p class="et_para_comment">3 태그달기</p>
                <p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
                Check our services.</p>     
              </div>            
            </div> <!-- end service item -->

            
          </div> <!-- end row -->

        </div> <!-- end container -->
      </section> <!-- end icon boxes -->
   </div>

