<div class="row etrow2 et_mobile_how">
    <!-- Icon Boxes -->
      <section class="section-wrap icon-boxes" id="services">
        <div class="container">
          <p class="et_para_title">참여방법</p>
          <br>
          <p class="et_para_sub">이렇게 응모하시면 됩니다!</p>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_1step.svg', :class => "et_howto_images"%>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_1step_c.svg' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_2step.svg', :class => "et_howto_images"%>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_2step_c.svg' %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step.svg', :class => "et_howto_images" %>
            </div>
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step_c_1.svg' %>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-md-offset-5 col-xs-10 col-xs-offset-1">
              <%= image_tag '18s_3step_c_2.svg' %>
            </div>
            </div>

            
        </div>




        </div> <!-- end container -->
      </section> <!-- end icon boxes -->
   </div>

